{% load static %}
<!DOCTYPE HTML>
<html>
<head>
<title>HOME</title>
	<link rel="stylesheet" type="text/css" href="{% static 'css/home.css' %}">
</head>
<body>
<header>
<div>
<h1 class =  "title">RENTAL HOMES</h1>
<h3 class = "subhead" > Rental Services To Everyone </h3> 
</div>
				</div>
					<div class="button">
					<a href="http://localhost:8000/register" class="btn">REGISTER</a>
					<a href="http://localhost:8000/login" class="btn">LOGIN</a>
					<a href="http://localhost:8000/about" class="btn">ABOUT US</a>
					<a href="http://localhost:8000/feedback" class="btn">FEEDBACK</a>
				
				</div>
			
<header>

</body>
</html>



